@page
@model ClubAdministration.Web.Pages.Members.EditModel

@{
    ViewData["Title"] = "Edit Member";
}

<h2>Edit Member</h2>

<hr />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
