@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Members of section</h2>
<hr />

<script>
    function DoPostBack() {
        document.formIndex.submit();
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
