@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Members of section</h2>
<hr />

<form method="post">
    <div>
        <label asp-for="@Model.SectionId" class="control-label"></label>
        <select asp-for="SectionId" class="form-control" asp-items="@Model.SectionItems"></select>
        <input asp-for="@Model.SectionId" type="hidden"/>
       @* <a asp-route-id="@Model.SectionId">Submit</a>*@
    </div>
    @*<div>
        @foreach(var item in )
    </div>*@

</form>

<script>
    function DoPostBack() {
        document.formIndex.submit();
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
